body {
  padding-top: 60px;
}

.centered {
  text-align: center;
}

.navbar .login {
  float: right;
}
.navbar .login form {
  margin: 0; padding: 0;
}

.footer {

  margin-top: 30px;
}

.add-remove button {
    width: 30px;
    text-algin: center;
}

.login-box {
    margin-top: 200px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 40px 20px 0 20px;
}

header {
    padding: 25px 20px 40px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    background: #4276B6 url("images/background.png") repeat scroll 0% 0%;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
    z-index: 99;
    min-height: 76px;
}

footer {
    margin: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    background: #4276B6 url("images/background.png") repeat scroll 0% 0%;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
    z-index: 99;
}

header h1 {
    font: 40px/48px "Copse","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #F3F3F3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer p {
    font: 24px "Copse","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #F3F3F3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menu {
    z-index: 100;
    left: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 115px;
    background: #FC0 none repeat scroll 0% 0%;
    border: 1px solid #F0B500;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px;
}